.Logo{
    width: 2.2%;
    margin: 2px 12px 0px 0px;
    float: left;
    padding: 0px 12px 0px;
    
}
.Logo1{
    width: 12%;
    float: left;
    padding: 8px 12px 0px 0px;
}
.image{
    margin: 0px;
    padding: 12px 0px 0px;
    color: #3a3a3a;
}
.Navigation{
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 700;
    color: #0f224a;
    float: right;
}
.Navigation ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 10px 0 6px;
    color: grey;   
}
.container{
    padding: 5px 60px 0px;
}
.body{
    border: solid;
    border-width: 70px;
    border-color: blue;
    border-radius: 1%;
    border-bottom: none;
}
.Title{
    text-align: center;
    padding: 12% ;
}
.Nice{
    color: rgb(102, 228, 102);
    text-align: center;
}
.Commerce{
    color: rgb(2, 7, 139);
}
.Button{
    background-color: rgb(2, 7, 139);
    padding: 1% 2% 1%;
    color: white;
}
.Mainimage{
    
    width: 100%;

}
.logo1{
    width: 5%;
    padding: 0 10px 0;
}
.logo2{
    width: 3%;
    padding: 0 10px 0;
}
.logo3{
    width: 3.5%;
    padding: 0 10px 0;
}
.logo4{
    width: 7.5%;
    
}
.percent1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.percent2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.percent3{
    text-align: justify;
    font-size: 30px;
    font-weight: 600;
}
.Logos{
    float: left;
    display: inline-block;
    
}
.block{
    float: right;
    display: flex;
    position: absolute;
    
    justify-content: right;
    margin-left: 50%;
}
.block1{
    justify-content: flex-start;
    
    line-height: 1.25;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    padding: 3px 60px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 80px;
    border-radius: 5%;
    margin: 2%; 
    height: 150px;
    margin-right: 5%;
    
    justify-content: right;
    background-color: rgb(224, 234, 252);
}
.block2{
    text-align: center;
    padding: 0 55px;
    display: inline-grid;
    width: 40%;
    border-radius: 5%;
    margin: 2%;
    float: right;
    height: 150px;
    margin-right: 5%;
    background-color: rgb(183, 235, 214);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.block3{
    text-align: center;
    width: 40%;
    height: 150px;
    margin: 2%;
    border-radius: 5%;
    display: inline-grid;
    padding: 0px 35px;
    margin-left:1px ;
    float: right;
    margin-right: 25%;
    background-color: rgb(243, 206, 246);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.Button1{
    background-color: rgb(2, 7, 139);
    padding: 1% 2% 1%;
    color: white;
}

.Container1{
    display: inline-block;
    float: left;
    position: relative;
    margin: 190px 30px;
   

}
.cont{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    padding: 0px 0px 48px;
    color: #0f224a;
    position: relative;
}
.Last{
    float: left;
    display: flex;
    margin-top: -10em;
    position: absolute;
    

}
.line1{
    border: 2px solid blue;
    width: 185%;
}
.text-a{
    width: 80%;
    text-align: left;
    justify-content: 
    height: 0;
    margin-left: 110%;
    padding: 0px 25px 0 58px;
}
.line2{
    width: 145%;
    border: 2px solid red;
}
.text-b{
    padding: 0px 60px 0;
}
.line3{
    border: 2px solid greenyellow;
    width: 145%;
}
.text-c{
    padding: 0 20px 0;
}


