.Logo{
    width: 2%;
    float: left;
    padding: 0px 12px 0px;
    
}
.Logo1{
    width: 10%;
    float: left;
    padding: 8px 5px 0px;
}
.Navigation{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    float: right;
}
.Navigation ul li{
    display: inline-block;
    list-style: none;
    padding: 0 10px 0 10px;
    color: grey;   
}
.container{
    padding: 5px 60px 0px;
}
.body{
    border: solid;
    border-width: 70px;
    border-color: blue;
    border-radius: 1%;
    border-bottom: none;
}
.Title{
    text-align: center;
    padding: 12% ;
}
.Nice{
    color: rgb(102, 228, 102);
    text-align: center;
}
.Commerce{
    color: rgb(2, 7, 139);
}
.Button{
    background-color: rgb(2, 7, 139);
    padding: 1% 2% 1%;
    color: white;
}
.Mainimage{
    
    width: 100%;

}
.logo1{
    width: 5%;
    padding: 0 10px 0;
}
.logo2{
    width: 3%;
    padding: 0 10px 0;
}
.logo3{
    width: 3.5%;
    padding: 0 10px 0;
}
.logo4{
    width: 7.5%;
    
}
.percent1{
    text-align: center;
    
}
.percent2{
    text-align: center;
}
.percent3{
    text-align: center;

} 
.Logos{
    float: left;
    display: inline-block;
    
}
.block{
    float: right;
    display: flex;
    position: absolute;
    justify-content: right;
    margin-left: 50%;
}
.block1{
    padding: 0 55px;
    width: 80px;
    border-radius: 5%;
    margin: 2%; 
    height: 150px;
    margin-right: 5%;
    justify-content: right;
    background-color: rgb(224, 234, 252);
}
.block2{
    text-align: center;
    padding: 0 55px;
    display: inline-grid;
    width: 40%;
    border-radius: 5%;
    margin: 2%;
    float: right;
    height: 150px;
    margin-right: 5%;
    background-color: rgb(183, 235, 214);
}
.block3{
    text-align: center;
    width: 40%;
    height: 150px;
    margin: 2%;
    border-radius: 5%;
    display: inline-grid;
    padding: 0px 35px;
    margin-left:1px ;
    float: right;
    margin-right: 25%;
    background-color: rgb(243, 206, 246);
}
.Button1{
    background-color: rgb(2, 7, 139);
    padding: 1% 2% 1%;
    color: white;
}
.Container1{
    display: inline-block;
    float: left;
    position: relative;
    margin: 190px 30px;
   

}
.Last{
    float: left;
}
.line1{
    
    width: 14%;
}
.text-a{
    float: right;
    padding: 2px 470px 3px;
}
.line2{
    width: 13%;
    display: ;
}
.text-b{
    float: right;
    padding: 2px 470px 3px;
}
.line3{
    width: 14%;
}
.text-c{
    float: right;
    padding: 2px 470px 3px;
}


